.chevron_down:before {
	border-style: solid;
  border-color: #f50;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.50em;
	left: 0.15em;
	position: relative;
	top: -.18em;
	transform: rotate(135deg);
	vertical-align: middle;
	width: 0.50em;
}

.chevron_up:before {
	border-style: solid;
  border-color: #f50;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.50em;
	left: 0.15em;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	vertical-align: middle;
	width: 0.50em;
}

.sortBtn{
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #f50;
  border-radius: 3px;
  cursor: pointer;
  color: #FF5500;
  line-height: 2em;
  vertical-align: middle;
}

.sortBtn:hover{
  background-color: #FF5500;
  color: #FFFFFF;
}

.sortBtn:hover .chevron_down{
  border-style: solid;
  border-color: #fff;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.50em;
  left: 0.15em;
  position: relative;
  top: -.18em;
  transform: rotate(135deg);
  vertical-align: middle;
  width: 0.50em;
}

.sortBtn:hover .chevron_up{
  border-style: solid;
  border-color: #fff;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.50em;
	left: 0.15em;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	vertical-align: middle;
	width: 0.50em;
}
